<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aibo.mapper.UserRelatedMapper">


    <select id="selectUserRelated" resultType="java.lang.Integer">
    SELECT user_followed_id FROM user_followed WHERE user_id=#{user_id}
    </select>
    <select id="selectRelatedById" resultType="java.lang.Integer">
        SELECT user_id FROM user_followed WHERE user_followed_id=#{user_related_id}
    </select>

    <insert id="insertUserRelated">
        INSERT INTO user_followed VALUES
        (
        <if test="user_id!=null">
            #{user_id},
        </if>
        <if test="user_followed_id!=null">
            #{user_followed_id},
        </if>
        <if test="followed_date!=null">
            #{followed_date}
        </if>
        )
    </insert>
</mapper>