<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.aibo.mapper.UserMapper">


    <resultMap id="user" type="User">
        <result column="user_id" property="user_id"></result>
        <result column="user_name" property="user_name"></result>
        <result column="user_realname" property="user_realname"></result>
        <result column="user_sex" property="user_sex"></result>
        <result column="user_job" property="user_job"></result>
        <result column="user_work" property="user_work"></result>
        <result column="user_area" property="user_area"></result>
        <result column="user_desc" property="user_desc"></result>
        <result column="user_icon" property="user_icon"></result>
        <result column="user_birth" property="user_birth"></result>
    </resultMap>


    <select id="getUserInfo" resultType="User" resultMap="user" parameterType="java.lang.String">
        SELECT * FROM user_info WHERE user_name =#{username}
    </select>
    <update id="updateUserInfo"  parameterType="User">
        UPDATE user_info SET

        <if test="user_realname!=null">
            user_realname=#{user_realname},
        </if>
        <if test="user_sex!=null">
             user_sex=#{user_sex},
        </if>
        <if test="user_job!=null">
             user_job=#{user_job},
        </if>
        <if test="user_work!=null">
             user_work=#{user_work},
        </if>
        <if test="user_area!=null">
             user_area=#{user_area},
        </if>
        <if test="user_desc!=null">
            user_desc=#{user_desc},
        </if>
        <if test="user_birth!=null">
            user_birth=#{user_birth}
        </if>
      WHERE user_name=#{user_name}
    </update>


    <select id="selectUserPassWordByName" resultType="java.lang.String">
        SELECT user_password FROM user_login WHERE user_id IN (SELECT user_id FROM user_info WHERE user_name=#{user_name})
    </select>
    <update id="updateUserPassWordById">
        UPDATE user_login SET
        <if test="user_password!=null">
            user_password=#{password}
        </if>
        WHERE
        user_id=#{user_id}
    </update>
</mapper>