<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!-- 命名空间 -->
    <typeAliases>
        <typeAlias type="org.aibo.bean.User" alias="User"></typeAlias>
        <typeAlias type="org.aibo.bean.Article" alias="Article"></typeAlias>
        <typeAlias type="org.aibo.bean.Message" alias="Message"></typeAlias>
        <typeAlias type="org.aibo.bean.User_Contact" alias="User_Contact"></typeAlias>
        <typeAlias type="org.aibo.bean.User_Collected" alias="User_Collected"></typeAlias>
    </typeAliases>

    <!-- 映射map -->
    <mappers>
        <mapper resource="org/aibo/mapper/UserMapper.xml"></mapper>
        <mapper resource="org/aibo/mapper/ArticleMapper.xml"></mapper>
        <mapper resource="org/aibo/mapper/MessageMapper.xml"></mapper>
        <mapper resource="org/aibo/mapper/UserContactMapper.xml"></mapper>
        <mapper resource="org/aibo/mapper/UserRelatedMapper.xml"></mapper>
        <mapper resource="org/aibo/mapper/UserCollectedMapper.xml"></mapper>
    </mappers>
</configuration>